@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="bg-white p-4 full-height mb-5">

    <h1>Glömt lösenord</h1>
    <p>
        Mail för att återställa lösenord har skickats.
    </p>

</div>
